body{
    text-align: center;
    background-image:url("https://img.freepik.com/free-photo/kraft-paper-cardboard-texture-background_144130-182.jpg?size=626&ext=jpg");
    

}
h2{
color: aliceblue;     
}
h3{
   color: white;
    }
h4{
    color: black;
}

h1 {
    color: aquamarine;
    background-image: url(https://i.pinimg.com/originals/4d/ef/c5/4defc5b00247ead5c029db590045cdb1.gif);
}